{{#if admin}}
    {{> header}}
{{else}}
    {{> headerUserView}}
{{/if}}
<div class="container content-body">
    <h1 class="name-details mb-4">{{student.name}}</h1>
    <div>
        <div class="text-center">
            <img src="../../../img/students/{{student.image}}" style=" height: 451px;" alt="ơ không sao ra">
        </div>
        <div class="mt-4">
            <h2>Mô tả</h2>
            <p>Là thành viên nhóm {{student.lab_group_id}}</p>
            <p> {{breaklines student.description}}</p>
            <h2>Thông tin cá nhân</h2>
            <p>Email: {{student.email}}</p>
            <p>Mã sinh viên: {{student.mssv}}</p>
            <p>Số điện thoại: {{student.phoneNumber}}</p>
        </div>
    </div>
</div>