{{> header}}
<div class="container content-body">
    <h2 style="margin-bottom: 24px;">Cập nhật thông tin sinh viên</h2>
    <form method="POST" action="/students/{{student.id}}?_method=PUT" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Họ và tên</label>
                <input value="{{student.name}}" name="name" id="name" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input value="{{student.email}}" name="email" id="email" type="email" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Mã sinh viên</label>
                <input value="{{student.mssv}}" name="mssv" id="mssv" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Thành viên nhóm (Nhập ID nhóm)</label>
                <input value="{{student.labGroupId}}" name="labGroupId" id="labGroupId" type="text"
                    class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Số điện thoại</label>
                <input name="phoneNumber" value="{{student.phoneNumber}}" id="phoneNumber" type="text"
                    class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Mô tả</label>
                <textarea name="description" id="description" class="form-control">{{student.description}}</textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="image">Ảnh</label>
                <input name="image" id="image" type="file" value="{{student.image}}"class="form-control">
                <img src="../../../img/students/{{student.image}}" style="width: 50%;" alt="ảnh nè">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">isAdmin(0/1) </label>
                <input name="isAdmin" id="isAdmin" value="{{student.isAdmin}}" type="text" class="form-control" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Lưu Lại</button>
    </form>
</div>