<div class="mt-4">
    <h2 style="margin-bottom: 24px;">Sửa nhóm</h2>
    <form method="POST" action="/groups/{{group.id}}?_method=PUT">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Tên nhóm</label>
                <input name="name" value="{{group.name}}" id="name" type="text" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <label for="projects">Project thực hiện</label>
                {{#each group.projects}}
                <input type="hidden" name="projects[{{@index}}][id]" value="{{this.id}}">
                <input name="projects[{{@index}}][name]" value="{{this.name}}" id="project-{{@index}}" type="text" class="form-control" required>
                {{/each}}
                <div id="new-projects"></div>
                <a href="/projects/create">Thêm dự án mới</a>
            </div>
        </div>
        <div class="form-row">
             <div class="form-group col-md-12">
                <label for="description">Mô tả</label>
                <textarea name="description" id="description" class="form-control">{{group.description}}</textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sửa</button>
    </form>
</div>


