{{> headerUserView}}
<div class="container content-body">
  <h1>Team table</h1>
  <table class="table custome-table">{{!-- Team table --}}
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">ID</th>
        <th scope="col">Tên nhóm</th>
        <th class="text-center" scope="col">Mô tả</th>
        <th scope="col">Số thành viên</th>
        <th class="text-center" scope="col">Đang làm dự án</th>
        <th scope="col">Ngày tạo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each groups}}
      <tr>
        <td>{{sum @index 1}}</td>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{breaklines this.description}}</td>
        <td>{{this.students.length}}</td>
        <td>
         {{#each this.projects}}
          - {{this.name}}
          {{#unless @last}}
          <br />
          {{/unless}}
          {{/each}}
        </td>
        <td>{{this.createdAt}}</td>
        <td>
          <div class="btn-group">
            <a href="/groups/details/{{this.id}}" class="mr-2 btn btn-secondary btn-sm">Chi tiết</a>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h1>Project table</h1>
  <table class="table custome-table">{{!-- Project table --}}
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th class="text-center" scope="col">Tên dự án</th>
        <th class="text-center" scope="col">Mô tả</th>
        <th scope="col">Ngày tạo</th>
        <th scope="col">Các nhóm thực hiện</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each projects}}
      <tr>
        <td>{{sum @index 1}}</td>
        <td>{{this.name}}</td>
        <td>{{breaklines this.description}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          {{#each this.lab_groups}}
          {{this.name}}
          {{#unless @last}}
          <br />
          {{/unless}}
          {{/each}}
        </td>
        <td>
          <div class="btn-group">
            <a href="/projects/details/{{this.id}}" class="mr-2 btn btn-secondary btn-sm">Chi tiết</a>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h1>Student table</h1>
  <table class="table custome-table">{{!-- Student table --}}
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ và tên</th>
        <th scope="col">Email</th>
        <th scope="col">Thành viên nhóm</th>
        <th scope="col">Mã sinh viên</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      {{#each students}}
      <tr>
        <td>{{sum @index 1}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.labGroupId}}</td>
        <td>{{this.mssv}}</td>
        <td>
          <div class="btn-group">
            <a href="/students/details/{{this.id}}" class="mr-2 btn btn-secondary btn-sm">Chi tiết</a>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>